{%extends 'news/base.html'%}
{% load i18n %}

{%block content%}
<div class="col-lg-8 col-md-8 col-sm-8"> 
	<br>
	<h4 style="color: red;">{% blocktrans %}Parolni tiklash uchun kirish qutingizni tekshiring va parolni tiklash bo'yicha ko'rsatmalarga amal qiling.{% endblocktrans %}</h4>
</div>
{%endblock content%}

{% block content2 %}
          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">{% blocktrans %}Katigoriyalar{% endblocktrans %}</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                  
                  {% for category in category_list %}
                    <li class="cat-item"><a href="{{ category.get_absolute_url }}">{{category.name}}</a></li>
                  {% endfor %}
                  
                </ul>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
{% endblock content2 %}