{% extends "news/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
  {% blocktrans %}Yangiliklar | Parolni o'zgartirish{% endblocktrans %}
{% endblock title %} 

{% block content %}  
    <h1>{% blocktrans %}Parolni o'zgartirish{% endblocktrans %}</h1>
    <p>{% blocktrans %}Parolni o'zgartirish uchun formani to'ldirish{% endblocktrans %}</p>
    <form action="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">{% blocktrans %}Parolni almashtirish{% endblocktrans %}</button>
    </form>
{% endblock content %}