{% extends "news/base.html" %}
{% load static %}

{% block title %}
  Yangiliklar | Foydalanuvchi profili
{% endblock title %} 

{% block category %}
  <section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav main_nav">
          <li class="active"><a href="{% url 'home_page' %}"><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a></li>
          
          {% for category in category_list %}
            <li><a href="{{ category.get_absolute_url }}">{{category.name}}</a></li>
          {% endfor %}

        </ul>
      </div>
    </nav>
  </section>

  <section id="newsSection">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="latest_newsarea"> <span>So'ngi yangiliklar</span>
          <ul id="ticker01" class="news_sticker">

            {% for latest_news in latest_news_list %}
              <li><a href="{{ latest_news.get_absolute_url }}"><img src="{{latest_news.image.url}}" alt="">{{latest_news.title | truncatewords:5}}</a></li>
            {% endfor %}
        
          </ul>
          <div class="social_area">
            <ul class="social_nav">
              <li class="facebook"><a href="#"></a></li>
              <li class="twitter"><a href="#"></a></li>
              <li class="flickr"><a href="#"></a></li>
              <li class="pinterest"><a href="#"></a></li>
              <li class="googleplus"><a href="#"></a></li>
              <li class="vimeo"><a href="#"></a></li>
              <li class="youtube"><a href="#"></a></li>
              <li class="mail"><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock category %}

{% block content %} 
<div class="col-lg-8 col-md-8 col-sm-8"> 

  <center style="color: green;">
    <h3>
    <p> Xush kelibsiz: {{user.last_name}} {{user.first_name}}</p> 
    <p> Sizning Username: '{{user.username}}'</p> 
    <p> Sizning email: {{user.email}}</p>
    <p>
      Sizning manzil: {% if profile.address %}{{ profile.address }}{% else %}Bunaqa ma'lumot yo'q{% endif %}
    </p>
    <p>
      Sizning tug'ilgan kuningiz: {% if profile.date_of_birth %}{{ profile.date_of_birth }}{% else %}Bunaqa ma'lumot yo'q{% endif %}
    </p>
    <img src="{% if profile.photo %}{{ profile.photo.url }}{% else %}{% static 'images/1.png' %}{% endif %}" alt="Profile Photo">    </h3>
    <br>
    <form action="{% url 'logout_page' %}" method="post">
      {% csrf_token %}
      <button type="submit" style="color: green">Akkauntdan chiqish</button>
    </form>

  </center>

  <center>
    {% if user.is_authenticated %}
      <br>
      <a href='{% url "password-change_page" %}' style="color: red;">Parolni o'zgartirish</a>
      <br>
      <a href='{% url "password-reset" %}' style="color: red;">Parolni tiklash</a>
      <br>
      <a href='{% url "user_edit_page" %}' style="color: red;">Profilni tahrirlash</a> 
    {% endif %}
  </center>

</div>

{% endblock content %}

{% block content2 %}
          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Katigoriya</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                  
                  {% for category in category_list %}
                    <li class="cat-item"><a href="{{ category.get_absolute_url }}">{{category.name}}</a></li>
                  {% endfor %}
                  
                </ul>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
{% endblock content2 %}