{% extends "news/base.html" %}
{% load static %}

{% block title %}
  Yangiliklar | Aloqa
{% endblock title %}
  
{% block category %}
  <section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav main_nav">
          <li class="active"><a href="{% url 'home_page' %}"><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a></li>
          
          {% for category in category_list %}
            <li><a href="{{ category.get_absolute_url }}">{{category.name}}</a></li>
          {% endfor %}

        </ul>
      </div>
    </nav>
  </section>

  <section id="newsSection">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="latest_newsarea"> <span>So'ngi yangiliklar</span>
          <ul id="ticker01" class="news_sticker">

            {% for latest_news in latest_news_list %}
              <li><a href="{{ latest_news.get_absolute_url }}"><img src="{{latest_news.image.url}}" alt="">{{latest_news.title | truncatewords:5}}</a></li>
            {% endfor %}
        
          </ul>
          <div class="social_area">
            <ul class="social_nav">
              <li class="facebook"><a href="#"></a></li>
              <li class="twitter"><a href="#"></a></li>
              <li class="flickr"><a href="#"></a></li>
              <li class="pinterest"><a href="#"></a></li>
              <li class="googleplus"><a href="#"></a></li>
              <li class="vimeo"><a href="#"></a></li>
              <li class="youtube"><a href="#"></a></li>
              <li class="mail"><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock category %}

  
{% block content %}    
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2>Contact Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            
            <form action="#" class="contact_form" method='Post'>
              {% csrf_token %}
              <input class="form-control" type="text" placeholder="Name*" name='name'>
              <input class="form-control" type="email" placeholder="Email*" name='email'>
              <textarea class="form-control" cols="30" rows="10" placeholder="Message*" name='message'></textarea>
              <input type="submit" value="Yuborish">
            </form>

          </div>
        </div>
      </div>
{% endblock content %}
{% block content2 %}
          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Katigoriya</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                  
                  {% for category in category_list %}
                    <li class="cat-item"><a href="{{ category.get_absolute_url }}">{{category.name}}</a></li>
                  {% endfor %}
                  
                </ul>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
{% endblock content2 %}
      